<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active">
                    <a class="brand" href="#Cissonius">Cissonius</a>
                </li>
                <li><a href="/">Products</a></li>
                <li><a href="import">Import</a></li>
                <li><a href="list">List</a></li>
                <li><a href="#Help">Help</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#Contact">Test</a></li>
            </ul>
            <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search" />
            </form>
        </div>
    </div>
</div>
